{% extends 'workouts/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Login - Calisthenics Coach{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-body">
                <h2 class="text-center mb-4">Login</h2>
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="d-grid gap-2 mt-4">
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                </form>
                <hr class="my-4">
                <p class="text-center">Don't have an account? <a href="{% url 'register' %}">Sign up</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %} 